body {
	background-color: $cream !important;
	font-family: 'Source Sans Pro', sans-serif !important;
}
a {
    &:hover {
        text-decoration: none !important;
    }
}
* {
	line-height: perfect;
	white-space: go-away;
}