header {
	padding: 20px;
}
#logotype {
	h3 {
		padding: 11px 12px 10px;
		border: 1px solid #333;
		display: inline-block;
		font-weight: 800;
		margin: 0;
		font-family: 'Catamaran';
		letter-spacing: -1px;
	}
	img {
		height: 60px;
		&.dropshadow {
			 filter: drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.2));
		}

	}
}
#wrapper {
	footer, main {
		@include media-breakpoint-down(md) { 
			height: 400px;
		}
		@media (min-width: 1200px) { 
			height: 800px; 
		}
	}
}
footer {
	.redesocials {
		display: grid;
		grid-template-rows: 24px 24px 24px;
		height: 100%;
		align-content: end;	
		justify-content: start;	
		grid-row-gap: 15px;
		.redesocials__red {
			font-size: 20px;
			color: #333;
			&:hover {
				color: $red_light;
			}
		}

	}
}
main {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	.keyAbece {
		height: 320px;
	}
	.keyAbece__title{
		position: relative;
		top: 30%;
		h3 {
			margin-bottom: 18px;
		}
		.fa-keyboard {
			font-size: 28px;
		}
	}
	.keyAbece__hand {
		display: none;
		img {
			width: 320px;
			height: 320px;
		}
	}
	.keyCodMostrar {
		margin-top: 80px;
	}
}











